.full-page-chat .chat-full-page-header {
  background: var(--primary-very-low);
}

.chat-channel-title {
  &__avatar img {
    width: 30px;
    height: 30px;
  }

  &__name {
    font-weight: bold;
  }
}

.chat-message-separator {
  &__line {
    display: none;
  }

  &-date .chat-message-separator__text {
    border-radius: 10px;
    background-color: var(--primary-very-low);
    font-weight: 600;
    box-shadow: 0px 1px 0px var(--primary-low-mid);

    span {
      color: var(--primary-high);
    }
  }

  &-date
    .chat-message-separator__text-container.is-pinned
    .chat-message-separator__text {
    border: 0;
    background: rgba(var(--primary-very-low-rgb), 0.95);
    border: 0;
    padding-inline: 0.75rem;
    border-radius: 10px;
  }
}

@function check-empty($variable) {
  @if $variable != "" {
    @return $variable;
  } @else {
    @return $chat-background;
  }
}

.chat-messages-container {
  padding: 0;
  background-color: var(--background-color);
  background-image: url(check-empty($background-pattern));

  &.is-by-current-user {
    justify-content: end;
    margin-left: auto;
  }

  .chat-message.chat-message-bookmarked {
    background: initial;

    .chat-message-content {
      background: var(--highlight-bg);
    }
  }
}

.chat-message {
  margin-block: 0.5rem;
  padding: 0.25rem !important;
  background: transparent;

  .is-by-current-user & {
    justify-content: flex-end;
  }

  &-container {
    background: rgba(0, 0, 0, 0);
  }

  .chat-message-content {
    flex-wrap: wrap;
    flex-direction: row;
    flex-grow: unset;
    max-width: 76%;
    padding: 0.25rem 0.75rem;
    background: var(--light-bubble-color-2);
    border-radius: 10px;
    box-shadow: 0px 1px 0px var(--primary-low-mid);

    .is-by-current-user & {
      background: var(--light-bubble-color-1); //rgb(221, 249, 211);
      justify-content: flex-end;
    }
  }

  .chat-message-left-gutter {
    .is-by-current-user & {
      display: none;
    }
  }

  .chat-message-reaction-list {
    transform: translateY(50%);

    .is-by-current-user & {
      transform: translateY(125%);
    }
  }

  .chat-message-reaction,
  .chat-message-reaction.reacted {
    border-color: var(--primary-low);
    background: var(--secondary);
    border-radius: 20px;

    .count {
      color: var(--primary-medium);
    }
  }

  .chat-message-text {
    width: unset;
  }

  .chat-message-avatar,
  .chat-message-info__username {
    .is-by-current-user & {
      display: none;
    }
  }

  .chat-time {
    color: var(--primary-medium);
  }
}

.chat-message-info {
  &__date {
    order: 1;
    align-self: flex-start;
    margin-left: auto !important;
    .chat-message-bookmarked & {
      margin-left: 0.5rem !important;
    }
  }
  &__bookmark {
    align-self: flex-start;
    margin-left: 0.25rem;

    .chat-message-bookmarked & {
      margin-left: auto;
    }
  }
  &__username {
    margin-bottom: 0.5rem;
  }

  :not(.is-by-current-user) & {
    margin-left: auto;
    width: 100%;
  }

  .is-by-current-user & {
    width: unset;
    margin-left: 0.5rem;
    order: 1;
    align-self: flex-end;
  }
}

.chat-thread__body {
  padding: 0;
}
